@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,300,700);


body {
  font-family:sans-serif;
  font-size:20px;
  color:#555;
  line-height:30px;

}

img, canvas {
  max-width:100%;
}

p {
  margin-bottom:20px;
}

p:last-child {
  margin-bottom:none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin-top:20px;
  text-align:center;
  font-weight:100;
  font-size:3rem;
}

h2 {
  font-weight:700;
  font-size:1.5rem;
  margin-top:30px;
}

h3 {
  text-align:center;
  font-weight:400;
  font-size:1.2rem;
}

.interior #top-info {
  border-bottom:1px dashed #ddd;
  padding-bottom:20px;
  margin-bottom:20px;
}

#top-info h1 {
  margin-bottom:10px;
}

#top-info {
   margin-bottom:30px;
}

strong {
  font-weight:700;
}

a {
  color: #00aeef;
}

.content {
  max-width: 700px;
  margin-left:auto;
  margin-right:auto;
}

.content > * {
  padding-right:5px;
  padding-left:5px;
}

code {
  font-size:14px;
}

ul {
  margin:10px 0;
}

ul li {
  margin-bottom:5px;
  overflow:auto;
}

.toc-list li {
  float:left;
  width:32%;
  margin-right:1%;
  min-height:180px;
}

.toc-list {
  margin:0;
  padding:0;
  list-style-type: none;
  overflow:auto;
  
}

.toc-list img {

}

.toc-list h6 {
  font-size:12px;
  text-decoration:none;
  line-height:14px;

}

code {
  border-radius: 4px;
}

.hljs {
  line-height:16px;
}